{%- case icon -%}

  {%- when 'logo' -%}
    <svg width="150" height="48" viewBox="0 0 150 48" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Schär">
      <title>Schär</title>
      <text x="1" y="37" font-family="'Times ExtraBold','Playfair Display',serif" font-size="42" font-weight="800" letter-spacing="0.5" fill="#2C1A0E">Sch<tspan fill="#C41E3A">ä</tspan>r</text>
    </svg>

  {%- when 'hamburger' -%}
    <svg class="header-hamburger-icon icon icon-hamburger" width="33" height="21" viewBox="0 0 33 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.624 11.633h29.752c.347 0 .642-.137.845-.368a1.16 1.16 0 0 0 .279-.766c0-.262-.086-.542-.28-.764a1.098 1.098 0 0 0-.844-.368H1.624c-.347 0-.642.137-.845.368a1.16 1.16 0 0 0-.279.766c0 .262.086.542.28.764.203.231.498.368.844.368zm0-8.866h29.752c.346 0 .641-.138.844-.369.194-.221.28-.501.28-.764a1.16 1.16 0 0 0-.28-.765A1.099 1.099 0 0 0 31.377.5H1.624C1.277.5.982.637.779.869a1.16 1.16 0 0 0-.279.765c0 .263.086.543.28.764.203.231.498.369.844.369zm29.752 15.466H1.624c-.347 0-.642.137-.845.369a1.16 1.16 0 0 0-.279.765c0 .263.086.543.28.764.203.232.498.369.844.369h29.752c.346 0 .641-.137.844-.369.194-.221.28-.501.28-.764a1.16 1.16 0 0 0-.28-.765 1.099 1.099 0 0 0-.844-.369z" fill="#fff" stroke="#fff"/>
    </svg>
  
  {% when 'arrow-next' %}
    <svg class="icon-arrow-next" width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.993 10.531c-.03.214-.12.411-.259.566l-7.654 8.54a.933.933 0 0 1-.679.361.92.92 0 0 1-.71-.279 1.06 1.06 0 0 1-.299-.747c0-.283.11-.55.303-.744l7.026-7.836L.695 2.557a1.053 1.053 0 0 1-.303-.744 1.06 1.06 0 0 1 .298-.748.92.92 0 0 1 .711-.279.933.933 0 0 1 .68.362l7.652 8.54c.202.224.296.535.259.843h.001z" fill="#2C1A0E"/>
    </svg>

  {% when 'arrow-prev' %}
    <svg class="icon-arrow-prev" width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M.007 10.531c.03.214.12.411.259.566l7.654 8.54c.17.216.416.347.679.361a.92.92 0 0 0 .71-.279 1.06 1.06 0 0 0 .299-.747c0-.283-.11-.55-.303-.744l-7.026-7.836 7.026-7.835c.193-.193.303-.462.303-.744a1.06 1.06 0 0 0-.298-.748.92.92 0 0 0-.711-.279.933.933 0 0 0-.68.362L.268 9.688a1.072 1.072 0 0 0-.259.843H.007z" fill="#2C1A0E"/>
    </svg>

  {% when 'arrow-next-rounded' %}
    <svg class="icon-rounded next" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle class="icon-rounded-circle" cx="18.5" cy="18.5" r="18.5" fill="#F5F0EB"/>
      <path class="icon-rounded-arrow" d="M15.0049 18.0868C15.0267 18.2201 15.092 18.3434 15.1937 18.4401L20.7702 23.7731C20.8945 23.9081 21.0733 23.9898 21.2648 23.999C21.4563 24.009 21.6442 23.9456 21.7831 23.8248C21.9228 23.7032 22.0009 23.534 22 23.3582C22 23.1815 21.9201 23.014 21.7794 22.8932L16.6605 18L21.7794 13.1068C21.9201 12.986 22 12.8185 22 12.6418C22.0009 12.466 21.9228 12.2968 21.7831 12.1752C21.6442 12.0544 21.4563 11.991 21.2648 12.001C21.0733 12.0102 20.8945 12.0919 20.7702 12.2269L15.1946 17.5599C15.0476 17.6999 14.9786 17.8941 15.0058 18.0866L15.0049 18.0868Z" fill="#2C1A0E"/>
    </svg>

  {% when 'arrow-prev-rounded' %}
    <svg class="icon-rounded prev" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle class="icon-rounded-circle" cx="18.5" cy="18.5" r="18.5" fill="#F5F0EB"/>
      <path class="icon-rounded-arrow" d="M15.0049 18.0868C15.0267 18.2201 15.092 18.3434 15.1937 18.4401L20.7702 23.7731C20.8945 23.9081 21.0733 23.9898 21.2648 23.999C21.4563 24.009 21.6442 23.9456 21.7831 23.8248C21.9228 23.7032 22.0009 23.534 22 23.3582C22 23.1815 21.9201 23.014 21.7794 22.8932L16.6605 18L21.7794 13.1068C21.9201 12.986 22 12.8185 22 12.6418C22.0009 12.466 21.9228 12.2968 21.7831 12.1752C21.6442 12.0544 21.4563 11.991 21.2648 12.001C21.0733 12.0102 20.8945 12.0919 20.7702 12.2269L15.1946 17.5599C15.0476 17.6999 14.9786 17.8941 15.0058 18.0866L15.0049 18.0868Z" fill="#2C1A0E"/>
    </svg>

  {% when 'download' %}
    <svg class="icon-download" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 11a1 1 0 0 0-1 1v1a3 3 0 0 0 3 3h9.5a3 3 0 0 0 3-3v-1a1 1 0 1 0-2 0v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 0-1-1z" fill="currentColor"/>
      <path d="M7.75 0a1 1 0 0 0-1 1v7.335l-1.5-1.5a1.04 1.04 0 0 0-1.317-.155 1 1 0 0 0-.138 1.53l2.41 2.405a2.191 2.191 0 0 0 3.093 0L11.71 8.21a1 1 0 0 0-.138-1.53 1.04 1.04 0 0 0-1.317.155l-1.5 1.5V1A.997.997 0 0 0 7.75 0z" fill="currentColor"/>
    </svg>

  {% when '0-a-12-meses' %}
    <svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="95" height="25" rx="12.5" fill="#2ABCB4"/>
      <path d="M18.614 16.004c-.567.744-1.384 1.116-2.448 1.116s-1.883-.372-2.46-1.116c-.567-.752-.851-1.824-.851-3.216 0-1.4.284-2.476.851-3.228.577-.752 1.396-1.128 2.46-1.128s1.88.376 2.448 1.128c.576.752.864 1.828.864 3.228 0 1.392-.288 2.464-.864 3.216zm-3.732-1.068c.305.504.732.756 1.284.756s.976-.252 1.273-.756c.296-.504.444-1.22.444-2.148 0-.944-.148-1.668-.444-2.172-.297-.512-.72-.768-1.273-.768-.552 0-.98.256-1.284.768-.296.504-.444 1.228-.444 2.172 0 .928.148 1.644.444 2.148zm10.876-4.164c.816 0 1.456.228 1.92.684.472.448.708 1.048.708 1.8V17h-1.404v-.816c-.352.624-.924.936-1.716.936-.584 0-1.056-.164-1.416-.492-.36-.336-.54-.772-.54-1.308 0-.952.664-1.544 1.992-1.776l1.56-.276c-.016-.352-.132-.632-.348-.84-.208-.216-.484-.324-.828-.324-.664 0-1.12.376-1.368 1.128l-1.212-.36c.12-.632.416-1.14.888-1.524.48-.384 1.068-.576 1.764-.576zm-.132 5.28c.36 0 .656-.144.888-.432.232-.296.348-.656.348-1.08v-.204l-1.104.216c-.608.12-.912.388-.912.804 0 .216.072.388.216.516.144.12.332.18.564.18zM33.978 8.6h1.272V17h-1.596v-6.06c-.44.4-1.068.632-1.884.696v-1.5c.584-.056 1.052-.204 1.404-.444.352-.248.62-.612.804-1.092zm5.144 6.972h3.552V17H36.83v-1.296l1.848-1.296c1.568-1.088 2.352-2.152 2.352-3.192 0-.416-.124-.748-.372-.996-.24-.248-.56-.372-.96-.372-.416 0-.748.124-.996.372-.24.24-.36.564-.36.972 0 .272.052.544.156.816l-1.416.468a3.323 3.323 0 0 1-.264-1.308c0-.832.268-1.496.804-1.992s1.252-.744 2.148-.744c.872 0 1.564.244 2.076.732.52.48.78 1.128.78 1.944 0 .688-.208 1.348-.624 1.98-.408.624-1.084 1.256-2.028 1.896l-.852.588zm14.651-4.8c.696 0 1.24.216 1.632.648.4.424.6 1.004.6 1.74V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.732.172-.996.516-.256.344-.384.86-.384 1.548V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.728.172-.984.516-.256.336-.384.852-.384 1.548V17h-1.536v-6.048h1.536v.888c.352-.712.944-1.068 1.776-1.068.896 0 1.532.364 1.908 1.092.432-.728 1.096-1.092 1.992-1.092zm6.362 0c.944 0 1.68.364 2.208 1.092.528.728.708 1.568.54 2.52h-4.272c.032.456.2.82.504 1.092.304.264.676.396 1.116.396.664 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.068 1.008-.44.24-.94.36-1.5.36-.88 0-1.612-.288-2.196-.864-.584-.576-.876-1.328-.876-2.256 0-.944.28-1.716.84-2.316.568-.608 1.288-.912 2.16-.912zm-.024 1.2c-.4 0-.736.124-1.008.372-.264.248-.412.58-.444.996h2.82c-.032-.416-.176-.748-.432-.996a1.27 1.27 0 0 0-.936-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528zm6.46-6.348c.944 0 1.68.364 2.207 1.092.528.728.709 1.568.54 2.52H71.15c.032.456.2.82.504 1.092.305.264.677.396 1.117.396.663 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.069 1.008-.44.24-.94.36-1.5.36-.88 0-1.611-.288-2.195-.864-.585-.576-.877-1.328-.877-2.256 0-.944.28-1.716.84-2.316.569-.608 1.288-.912 2.16-.912zm-.025 1.2c-.4 0-.736.124-1.008.372-.263.248-.411.58-.444.996h2.82c-.031-.416-.175-.748-.431-.996a1.27 1.27 0 0 0-.937-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528z" fill="#fff"/>
    </svg>

  {% when '1-a-3-anos' %}
    <svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="95" height="25" rx="12.5" fill="#C41E3A"/>
      <path d="M23.837 8.6h1.273V17h-1.596v-6.06c-.44.4-1.069.632-1.884.696v-1.5c.584-.056 1.052-.204 1.404-.444.352-.248.62-.612.803-1.092zm7.928 2.172c.816 0 1.456.228 1.92.684.472.448.708 1.048.708 1.8V17H32.99v-.816c-.352.624-.924.936-1.716.936-.584 0-1.056-.164-1.416-.492-.36-.336-.54-.772-.54-1.308 0-.952.664-1.544 1.992-1.776l1.56-.276c-.016-.352-.132-.632-.348-.84-.208-.216-.484-.324-.828-.324-.664 0-1.12.376-1.368 1.128l-1.212-.36c.12-.632.416-1.14.888-1.524.48-.384 1.068-.576 1.764-.576zm-.132 5.28c.36 0 .656-.144.888-.432.232-.296.348-.656.348-1.08v-.204l-1.104.216c-.608.12-.912.388-.912.804 0 .216.072.388.216.516.144.12.332.18.564.18zm10.849-3.468c.488.152.868.412 1.14.78.272.36.408.804.408 1.332 0 .736-.276 1.324-.828 1.764-.544.44-1.276.66-2.196.66-.856 0-1.548-.2-2.076-.6-.528-.408-.848-.976-.96-1.704l1.488-.252c.104.376.292.668.564.876.272.208.608.312 1.008.312.432 0 .776-.112 1.032-.336.256-.224.384-.524.384-.9 0-.4-.14-.7-.42-.9-.272-.208-.652-.312-1.14-.312h-.564v-1.32h.444c.92 0 1.38-.372 1.38-1.116 0-.328-.108-.588-.324-.78-.208-.2-.488-.3-.84-.3-.344 0-.628.112-.852.336-.216.224-.364.54-.444.948l-1.452-.204c.064-.76.348-1.356.852-1.788.504-.432 1.164-.648 1.98-.648.808 0 1.452.212 1.932.636.488.416.732.976.732 1.68 0 .92-.416 1.532-1.248 1.836zm7.705-1.812c.816 0 1.456.228 1.92.684.472.448.708 1.048.708 1.8V17h-1.404v-.816c-.352.624-.924.936-1.716.936-.584 0-1.056-.164-1.416-.492-.36-.336-.54-.772-.54-1.308 0-.952.664-1.544 1.992-1.776l1.56-.276c-.016-.352-.132-.632-.348-.84-.208-.216-.484-.324-.828-.324-.664 0-1.12.376-1.368 1.128l-1.212-.36c.12-.632.416-1.14.888-1.524.48-.384 1.068-.576 1.764-.576zm-.132 5.28c.36 0 .656-.144.888-.432.232-.296.348-.656.348-1.08v-.204l-1.104.216c-.608.12-.912.388-.912.804 0 .216.072.388.216.516.144.12.332.18.564.18zm6.685-6.324c-.256 0-.396.176-.42.528h-.84c0-.488.1-.88.3-1.176a.947.947 0 0 1 .828-.444c.224 0 .472.096.744.288.28.184.488.276.624.276.248 0 .384-.176.408-.528h.852c0 .488-.1.88-.3 1.176-.2.296-.472.444-.816.444-.216 0-.468-.092-.756-.276-.288-.192-.496-.288-.624-.288zm.948 1.044c.664 0 1.204.216 1.62.648.416.432.624 1.012.624 1.74V17h-1.536v-3.636c0-.392-.104-.7-.312-.924-.2-.232-.476-.348-.828-.348-.408 0-.752.164-1.032.492-.28.32-.42.792-.42 1.416v3h-1.536v-6.048h1.536v.852c.424-.688 1.052-1.032 1.884-1.032zm6.454 6.348c-.888 0-1.628-.296-2.22-.888-.584-.6-.876-1.356-.876-2.268 0-.912.296-1.672.888-2.28.592-.608 1.336-.912 2.232-.912.88 0 1.616.3 2.208.9.592.6.888 1.352.888 2.256 0 .912-.296 1.672-.888 2.28-.592.608-1.336.912-2.232.912zm.036-1.32c.464 0 .836-.168 1.116-.504.288-.344.432-.788.432-1.332 0-.552-.148-1-.444-1.344a1.422 1.422 0 0 0-1.14-.528 1.4 1.4 0 0 0-1.128.516c-.288.336-.432.78-.432 1.332s.148 1 .444 1.344c.296.344.68.516 1.152.516zm6.37 1.32c-.657 0-1.205-.156-1.645-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528z" fill="#fff"/>
    </svg>
    {% when '6-meses-a-1-ano' %}
      <svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="95" height="25" rx="12.5" fill="#C41E3A"/>
        <text x="47.5" y="17" text-anchor="middle" fill="white" font-size="12" font-family=""Cabin", Arial, sans-serif">6 meses a 1 año</text>
      </svg>
        {% when '6-meses-en-adelante-naranja' %}
      <svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="95" height="25" rx="12.5" fill="#F5C842"/>
        <text x="47.5" y="17" text-anchor="middle" fill="white" font-size="12" font-family=""Cabin", Arial, sans-serif">+6 meses</text>
      </svg>

      {% when '6-meses-en-adelante-rosa' %}
      <svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="95" height="25" rx="12.5" fill="#C41E3A"/>
        <text x="47.5" y="17" text-anchor="middle" fill="white" font-size="12" font-family=""Cabin", Arial, sans-serif">+6 meses</text>
      </svg>

    {% when '0-a-12-meses-verde' %}
<svg width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="95" height="25" rx="12.5" fill="#2C1A0E"/>
  <path d="M18.614 16.004c-.567.744-1.384 1.116-2.448 1.116s-1.883-.372-2.46-1.116c-.567-.752-.851-1.824-.851-3.216 0-1.4.284-2.476.851-3.228.577-.752 1.396-1.128 2.46-1.128s1.88.376 2.448 1.128c.576.752.864 1.828.864 3.228 0 1.392-.288 2.464-.864 3.216zm-3.732-1.068c.305.504.732.756 1.284.756s.976-.252 1.273-.756c.296-.504.444-1.22.444-2.148 0-.944-.148-1.668-.444-2.172-.297-.512-.72-.768-1.273-.768-.552 0-.98.256-1.284.768-.296.504-.444 1.228-.444 2.172 0 .928.148 1.644.444 2.148zm10.876-4.164c.816 0 1.456.228 1.92.684.472.448.708 1.048.708 1.8V17h-1.404v-.816c-.352.624-.924.936-1.716.936-.584 0-1.056-.164-1.416-.492-.36-.336-.54-.772-.54-1.308 0-.952.664-1.544 1.992-1.776l1.56-.276c-.016-.352-.132-.632-.348-.84-.208-.216-.484-.324-.828-.324-.664 0-1.12.376-1.368 1.128l-1.212-.36c.12-.632.416-1.14.888-1.524.48-.384 1.068-.576 1.764-.576zm-.132 5.28c.36 0 .656-.144.888-.432.232-.296.348-.656.348-1.08v-.204l-1.104.216c-.608.12-.912.388-.912.804 0 .216.072.388.216.516.144.12.332.18.564.18zM33.978 8.6h1.272V17h-1.596v-6.06c-.44.4-1.068.632-1.884.696v-1.5c.584-.056 1.052-.204 1.404-.444.352-.248.62-.612.804-1.092zm5.144 6.972h3.552V17H36.83v-1.296l1.848-1.296c1.568-1.088 2.352-2.152 2.352-3.192 0-.416-.124-.748-.372-.996-.24-.248-.56-.372-.96-.372-.416 0-.748.124-.996.372-.24.24-.36.564-.36.972 0 .272.052.544.156.816l-1.416.468a3.323 3.323 0 0 1-.264-1.308c0-.832.268-1.496.804-1.992s1.252-.744 2.148-.744c.872 0 1.564.244 2.076.732.52.48.78 1.128.78 1.944 0 .688-.208 1.348-.624 1.98-.408.624-1.084 1.256-2.028 1.896l-.852.588zm14.651-4.8c.696 0 1.24.216 1.632.648.4.424.6 1.004.6 1.74V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.732.172-.996.516-.256.344-.384.86-.384 1.548V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.728.172-.984.516-.256.336-.384.852-.384 1.548V17h-1.536v-6.048h1.536v.888c.352-.712.944-1.068 1.776-1.068.896 0 1.532.364 1.908 1.092.432-.728 1.096-1.092 1.992-1.092zm6.362 0c.944 0 1.68.364 2.208 1.092.528.728.708 1.568.54 2.52h-4.272c.032.456.2.82.504 1.092.304.264.676.396 1.116.396.664 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.068 1.008-.44.24-.94.36-1.5.36-.88 0-1.612-.288-2.196-.864-.584-.576-.876-1.328-.876-2.256 0-.944.28-1.716.84-2.316.568-.608 1.288-.912 2.16-.912zm-.024 1.2c-.4 0-.736.124-1.008.372-.264.248-.412.58-.444.996h2.82c-.032-.416-.176-.748-.432-.996a1.27 1.27 0 0 0-.936-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528zm6.46-6.348c.944 0 1.68.364 2.207 1.092.528.728.709 1.568.54 2.52H71.15c.032.456.2.82.504 1.092.305.264.677.396 1.117.396.663 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.069 1.008-.44.24-.94.36-1.5.36-.88 0-1.611-.288-2.195-.864-.585-.576-.877-1.328-.877-2.256 0-.944.28-1.716.84-2.316.569-.608 1.288-.912 2.16-.912zm-.025 1.2c-.4 0-.736.124-1.008.372-.263.248-.411.58-.444.996h2.82c-.031-.416-.175-.748-.431-.996a1.27 1.27 0 0 0-.937-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528z" fill="#fff"/>
</svg>
    {% when '0-a-12-meses-morado' %}
<svg width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="95" height="25" rx="12.5" fill="#C41E3A"/>
  <path d="M18.614 16.004c-.567.744-1.384 1.116-2.448 1.116s-1.883-.372-2.46-1.116c-.567-.752-.851-1.824-.851-3.216 0-1.4.284-2.476.851-3.228.577-.752 1.396-1.128 2.46-1.128s1.88.376 2.448 1.128c.576.752.864 1.828.864 3.228 0 1.392-.288 2.464-.864 3.216zm-3.732-1.068c.305.504.732.756 1.284.756s.976-.252 1.273-.756c.296-.504.444-1.22.444-2.148 0-.944-.148-1.668-.444-2.172-.297-.512-.72-.768-1.273-.768-.552 0-.98.256-1.284.768-.296.504-.444 1.228-.444 2.172 0 .928.148 1.644.444 2.148zm10.876-4.164c.816 0 1.456.228 1.92.684.472.448.708 1.048.708 1.8V17h-1.404v-.816c-.352.624-.924.936-1.716.936-.584 0-1.056-.164-1.416-.492-.36-.336-.54-.772-.54-1.308 0-.952.664-1.544 1.992-1.776l1.56-.276c-.016-.352-.132-.632-.348-.84-.208-.216-.484-.324-.828-.324-.664 0-1.12.376-1.368 1.128l-1.212-.36c.12-.632.416-1.14.888-1.524.48-.384 1.068-.576 1.764-.576zm-.132 5.28c.36 0 .656-.144.888-.432.232-.296.348-.656.348-1.08v-.204l-1.104.216c-.608.12-.912.388-.912.804 0 .216.072.388.216.516.144.12.332.18.564.18zM33.978 8.6h1.272V17h-1.596v-6.06c-.44.4-1.068.632-1.884.696v-1.5c.584-.056 1.052-.204 1.404-.444.352-.248.62-.612.804-1.092zm5.144 6.972h3.552V17H36.83v-1.296l1.848-1.296c1.568-1.088 2.352-2.152 2.352-3.192 0-.416-.124-.748-.372-.996-.24-.248-.56-.372-.96-.372-.416 0-.748.124-.996.372-.24.24-.36.564-.36.972 0 .272.052.544.156.816l-1.416.468a3.323 3.323 0 0 1-.264-1.308c0-.832.268-1.496.804-1.992s1.252-.744 2.148-.744c.872 0 1.564.244 2.076.732.52.48.78 1.128.78 1.944 0 .688-.208 1.348-.624 1.98-.408.624-1.084 1.256-2.028 1.896l-.852.588zm14.651-4.8c.696 0 1.24.216 1.632.648.4.424.6 1.004.6 1.74V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.732.172-.996.516-.256.344-.384.86-.384 1.548V17h-1.536v-3.66c0-.384-.092-.688-.276-.912-.176-.224-.432-.336-.768-.336-.4 0-.728.172-.984.516-.256.336-.384.852-.384 1.548V17h-1.536v-6.048h1.536v.888c.352-.712.944-1.068 1.776-1.068.896 0 1.532.364 1.908 1.092.432-.728 1.096-1.092 1.992-1.092zm6.362 0c.944 0 1.68.364 2.208 1.092.528.728.708 1.568.54 2.52h-4.272c.032.456.2.82.504 1.092.304.264.676.396 1.116.396.664 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.068 1.008-.44.24-.94.36-1.5.36-.88 0-1.612-.288-2.196-.864-.584-.576-.876-1.328-.876-2.256 0-.944.28-1.716.84-2.316.568-.608 1.288-.912 2.16-.912zm-.024 1.2c-.4 0-.736.124-1.008.372-.264.248-.412.58-.444.996h2.82c-.032-.416-.176-.748-.432-.996a1.27 1.27 0 0 0-.936-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528zm6.46-6.348c.944 0 1.68.364 2.207 1.092.528.728.709 1.568.54 2.52H71.15c.032.456.2.82.504 1.092.305.264.677.396 1.117.396.663 0 1.192-.276 1.584-.828l.96.708c-.264.424-.62.76-1.069 1.008-.44.24-.94.36-1.5.36-.88 0-1.611-.288-2.195-.864-.585-.576-.877-1.328-.877-2.256 0-.944.28-1.716.84-2.316.569-.608 1.288-.912 2.16-.912zm-.025 1.2c-.4 0-.736.124-1.008.372-.263.248-.411.58-.444.996h2.82c-.031-.416-.175-.748-.431-.996a1.27 1.27 0 0 0-.937-.372zm6.104 5.148c-.656 0-1.204-.156-1.644-.468-.432-.32-.708-.764-.828-1.332l1.152-.372c.208.672.684 1.008 1.428 1.008.32 0 .568-.056.744-.168a.517.517 0 0 0 .264-.456.484.484 0 0 0-.252-.432 1.454 1.454 0 0 0-.612-.204 9.705 9.705 0 0 1-.804-.168 6.751 6.751 0 0 1-.804-.276 1.446 1.446 0 0 1-.624-.564c-.16-.264-.24-.596-.24-.996 0-.592.224-1.06.672-1.404.448-.344 1.028-.516 1.74-.516.56 0 1.032.144 1.416.432.392.288.652.676.78 1.164l-1.176.396c-.2-.568-.584-.852-1.152-.852-.264 0-.48.056-.648.168a.518.518 0 0 0-.24.444c0 .192.084.344.252.456.168.112.376.188.624.228.248.032.516.088.804.168.296.072.568.16.816.264.248.096.456.276.624.54.168.256.252.58.252.972 0 .6-.236 1.08-.708 1.44-.472.352-1.084.528-1.836.528z" fill="#fff"/>
</svg>
    {% when '0-a-6-meses' %}
<svg class="icon-badge" width="95" height="25" viewBox="0 0 95 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="95" height="25" rx="12.5" fill="#C41E3A"/>
  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#ffffff" font-size="10" font-family="Cabin">
    0 a 6 meses
  </text>
</svg>


    
  {%- when 'close' -%}
    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M26.473.547a1.754 1.754 0 0 0-2.546 0L13.5 11.36 3.071.547A1.755 1.755 0 0 0 .527.548a1.916 1.916 0 0 0-.001 2.639L10.954 14 .526 24.815c-.702.73-.7 1.91.001 2.638.703.728 1.841.73 2.544.002L13.5 16.64l10.428 10.814a1.755 1.755 0 0 0 2.544-.002c.702-.729.704-1.909.002-2.638L16.045 14 26.473 3.187c.337-.35.527-.826.527-1.32 0-.495-.19-.97-.527-1.32z" fill="#2C1A0E"/>
    </svg>

  {%- when 'close-submenu' -%}
    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M.004 9.908c.02-.241.116-.47.276-.65L7.98.43A1.13 1.13 0 0 1 9.61.278a1.13 1.13 0 0 1 .074 1.638L2.636 10l7.049 8.085a1.13 1.13 0 0 1-.074 1.636 1.131 1.131 0 0 1-1.632-.151l-7.7-8.827c-.2-.23-.3-.53-.275-.835z" fill="#2C1A0E"/>
    </svg>

  {%- when 'cart' -%}
    <svg class="icon icon-cart" width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.662 0a.971.971 0 0 0-.966.975c0 .538.433.975.966.975h3.212c1.6 3.997 3.176 8 4.763 12.005l-1.46 3.544c-.122.296-.088.652.088.918a.98.98 0 0 0 .808.433h16.112c.51.008.98-.46.98-.975 0-.515-.47-.983-.98-.975H10.524l.835-2.01 15.518-1.25a.996.996 0 0 0 .865-.752l1.934-8.45c.126-.568-.369-1.19-.947-1.188H7.472L6.425.61A.99.99 0 0 0 5.529 0H1.662zm6.586 5.2H27.51l-1.5 6.561-14.692 1.178L8.248 5.2zm4.048 14.3c-1.769 0-3.223 1.466-3.223 3.25S10.527 26 12.296 26c1.768 0 3.222-1.466 3.222-3.25s-1.454-3.25-3.222-3.25zm9.667 0c-1.769 0-3.223 1.466-3.223 3.25S20.194 26 21.963 26c1.768 0 3.222-1.466 3.222-3.25s-1.454-3.25-3.222-3.25zm-9.667 1.95c.724 0 1.289.57 1.289 1.3 0 .73-.566 1.3-1.29 1.3a1.28 1.28 0 0 1-1.288-1.3c0-.73.565-1.3 1.289-1.3zm9.667 0c.723 0 1.288.57 1.288 1.3 0 .73-.565 1.3-1.288 1.3a1.28 1.28 0 0 1-1.29-1.3c0-.73.566-1.3 1.29-1.3z" fill="#fff"/>
    </svg>

  {%- when 'account' -%}
    <svg class="icon icon-account" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.628 11.812a5.909 5.909 0 0 0 5.906-5.906A5.909 5.909 0 0 0 11.628 0 5.91 5.91 0 0 0 5.72 5.906a5.914 5.914 0 0 0 5.907 5.907zm0-10.053a4.147 4.147 0 1 1-2.932 7.079 4.146 4.146 0 0 1 2.931-7.077V1.76zM2.264 24c0-5.164 4.2-9.364 9.364-9.364 5.163 0 9.363 4.2 9.363 9.364h1.762a11.123 11.123 0 0 0-11.125-11.126c-2.95 0-5.78 1.173-7.867 3.26A11.05 11.05 0 0 0 .502 24h1.762z" fill="#fff"/>
    </svg>

  {%- when 'facebook' -%}
    <svg class="icon-facebook" width="9" height="20" viewBox="0 0 9 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.984 19.288h-3.99V9.644H0V6.319h1.994V4.324C1.994 1.613 3.12 0 6.318 0H8.98v3.324H7.317c-1.245 0-1.328.465-1.328 1.332l-.005 1.663H9l-.353 3.325H5.984v9.644z" fill="#F5F0EB"/>
    </svg>

  {%- when 'instagram' -%}
    <svg class="icon-instagram" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#zbx0kisa2a)" fill-rule="evenodd" clip-rule="evenodd" fill="#fff">
        <path d="M12.764 16.653c1.023 0 1.989-.391 2.72-1.102a3.673 3.673 0 0 0 1.132-2.648V5.097c0-.996-.402-1.936-1.133-2.647a3.878 3.878 0 0 0-2.72-1.103H5.238c-1.024 0-1.99.391-2.72 1.103a3.673 3.673 0 0 0-1.133 2.647v7.806c0 .996.402 1.936 1.133 2.647a3.878 3.878 0 0 0 2.72 1.103h7.527zm0 1.347H5.237C2.357 18 0 15.706 0 12.903V5.097C0 2.294 2.356 0 5.237 0h7.527C15.643 0 18 2.294 18 5.097v7.806C18 15.706 15.644 18 12.764 18z"/>
        <path d="M9 5.788c-1.792 0-3.244 1.42-3.244 3.17S7.208 12.125 9 12.125c1.792 0 3.245-1.419 3.245-3.169S10.792 5.788 9 5.788zm4.979 3.165c0 2.673-2.219 4.84-4.955 4.84-2.737 0-4.955-2.167-4.955-4.84 0-2.672 2.218-4.839 4.955-4.839 2.736 0 4.955 2.167 4.955 4.84zM15.223 4.044c0 .633-.525 1.146-1.173 1.146-.647 0-1.172-.513-1.172-1.146 0-.632.525-1.145 1.172-1.145.648 0 1.173.513 1.173 1.145z"/>
      </g>
      <defs>
        <clipPath id="zbx0kisa2a">
          <path fill="#fff" d="M0 0h18v18H0z"/>
        </clipPath>
      </defs>
    </svg>

  {%- when 'youtube' -%}
    <svg class="icon-youtube" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.626 0c1.82.004 4.227.027 6.004.192 1.42.132 1.775.345 2.149.684.968.877 1.184 3.253 1.216 5.617.007.509.007 1.019 0 1.528-.032 2.364-.248 4.74-1.216 5.617-.374.339-.73.552-2.15.684-1.776.165-4.183.188-6.003.19-.75.002-1.502.002-2.252 0-1.82-.002-4.227-.025-6.004-.19-1.42-.132-1.775-.345-2.149-.684C.245 12.753.033 10.344.004 7.96a58.57 58.57 0 0 1 0-1.345C.03 4.211.236 1.768 1.22.875c.374-.338.729-.55 2.15-.683C5.146.027 7.553.004 9.373.001h2.252z" fill="#F5F0EB"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.445 4.239v6.229l5.298-3.211-5.298-3.018z" fill="#C41E3A"/>
    </svg>


  {%- comment -%}
  -------------------------------------
  ----- Theme icons -----
  -------------------------------------
  {%- endcomment -%}
  {%- when 'search' -%}
    <svg class="search-icon" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="m16.822 15.964-5.014-5.015a6.642 6.642 0 0 0 1.55-4.27A6.687 6.687 0 0 0 6.678 0 6.687 6.687 0 0 0 0 6.679a6.687 6.687 0 0 0 6.678 6.679 6.649 6.649 0 0 0 4.27-1.55l5.015 5.014a.605.605 0 0 0 .859 0 .606.606 0 0 0 0-.858zm-10.144-3.82a5.47 5.47 0 0 1-5.464-5.465 5.47 5.47 0 0 1 5.464-5.465 5.47 5.47 0 0 1 5.465 5.465 5.47 5.47 0 0 1-5.465 5.464z" fill="#F5F0EB"/>
    </svg>
  {%- when 'plus' -%}
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
    </svg>
  {%- when 'minus' -%}
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
    </svg>
  {%- when 'error' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </svg>  
  {%- when 'success' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-success" viewBox="0 0 13 13">
      <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#2ABCB4" stroke="white" stroke-width="0.7"/>
      <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
      <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
    </svg>  
  {%- when 'caret' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
    </svg> 
  {%- when 'discount' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-discount color-foreground-{{ settings.accent_icons }}" viewBox="0 0 12 12">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
    </svg>
  {%- when 'checkmark' -%}
    <svg class="icon icon-checkmark color-foreground-{{ settings.accent_icons }}" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"/>
    </svg>
  {%- when 'padlock' -%}
    <svg aria-hidden="true" focusable="false" class="icon icon-padlock" role="presentation" viewBox="0 0 16 21" fill="none">
      <path fill-rule="evenodd" d="M5.03 1.79A3.73 3.73 0 018 .5c1.28 0 2.28.48 2.97 1.29.67.8 1 1.87 1.03 3V7.5h3c.28 0 .5.22.5.5v12a.5.5 0 01-.5.5H1a.5.5 0 01-.5-.5V8c0-.28.22-.5.5-.5h3V4.8c0-1.1.36-2.15 1.03-3.01zM11 6.4v1.09H5V4.82c.03-.99.31-1.82.8-2.4A2.75 2.75 0 018 1.49c1.01 0 1.73.37 2.2.93.49.58.77 1.41.8 2.4V6.4zM1.5 8.49v11h13v-11h-13zm6.51 2.5a1.5 1.5 0 00-.7 2.82v2.5a.68.68 0 001.36 0v-2.47A1.5 1.5 0 008 11l.01-.01z" clip-rule="evenodd" fill="currentColor" />
    </svg>
  {%- when 'play' -%}
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" fill="none" viewBox="0 0 10 14"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/></svg>
  {%- when 'remove' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
      <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"/>
      <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"/>
    </svg>
  {%- when 'arrow' -%}
    <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
    </svg>
  {%- when 'share' -%}
    <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
    </svg>
  {%- when 'tick' -%}
    <svg class="icon icon-tick" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path fill="#2ABCB4" stroke="#fff" d="M16.136 6.979h0l.003-.004a1.499 1.499 0 00-2.275-1.954l-5.945 6.777-1.858-1.859A1.499 1.499 0 103.94 12.06l2.999 3s0 0 0 0c.289.29.675.44 1.1.439h.019a1.5 1.5 0 001.08-.522l6.998-7.998z"/>
    </svg>
  {%- when 'accounts-swipe-arrow' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon-customer-arrow" viewBox="0 0 20 8"><path d="M15.186.445c.865.944 1.614 1.662 2.246 2.154.631.491 1.227.857 1.787 1.098v.44a9.933 9.933 0 0 0-1.875 1.196c-.606.485-1.328 1.196-2.168 2.134h-.752c.612-1.309 1.253-2.315 1.924-3.018H.77v-.986h15.577c-.495-.632-.84-1.1-1.035-1.406-.196-.306-.486-.843-.87-1.612h.743z" fill="#000" fill-rule="evenodd"/></svg>
  {%- when '3d-model' -%}
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d-model" fill="none" viewBox="0 0 18 21">
      <path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"/>
    </svg>
  {%- when 'caret-left' -%}
    <svg width="16" height="28" viewBox="0 0 16 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.434.309a1.114 1.114 0 0 1 1.568.028c.43.439.443 1.145.028 1.6L2.982 14.215l12.048 11.85c.415.453.403 1.16-.028 1.599-.43.437-1.123.45-1.568.027L0 14.215 13.434.309z"/>
    </svg>
  {%- when 'caret-right' -%}
    <svg width="16" height="28" viewBox="0 0 16 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.9.309A1.114 1.114 0 0 0 .33.337a1.168 1.168 0 0 0-.028 1.6l12.048 12.278L.303 26.065a1.168 1.168 0 0 0 .028 1.599c.43.437 1.123.45 1.568.027l13.434-13.476L1.9.309z"/>
    </svg>
  
{%- endcase -%}