<div class="new-product-badge">
    Nuevo producto
</div>

<style>

.new-product-badge{
    padding:7px;
    display:flex;
    position:absolute;
    top:-30px;
    font-size:10px;
    background:#2C1A0E;
    border-radius:50px;
    color:white;
}
</style>